<div class="another-main-content">
  <%= render partial: "shared/side_bar", locals: { user: @user } %>
  <div class="right-content">
    <% if @profile.present? %>
      <%= render partial: "profile", locals: { user: @user, profile: @profile } %>
    <% else %>
      <div class="profile-btn"><%= link_to "プロフィールを登録する", new_profile_path(user_id: current_user) %></div>
    <% end %>
  </div>
</div>