.header-content {
  height: 80px;
  width: 100vw;
  background-color: #004F2A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 30px;
}

.logo a {
  text-decoration: none;
  color: ivory;
  font-size: 25px;
}

.lists-right {
  width: 350px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
}

.header-list1, .header-list2,.header-list3, .header-list4, .header-list5 {
  text-decoration: none;
  color: ivory;
  font-size: 18px;
}

.header-list4 {
  margin-left: 175px;
}