.side-bar {
  height: 100vh;
  width: 200px;
  position: sticky;
  top: 0;
  background-color:#90CE9C;
  display: flex;
  justify-content: center;
}

.side-lists {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-list {
  height: 40px;
  width: 150px;
  background-color: ivory;
  border: #004F2A 2px solid;
  font-size: 18px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-list-select {
  height: 40px;
  width: 150px;
  background-color: #004F2A;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-list-nickname {
  font-size: 20px;
  font-weight: bold;
  color: #004F2A;
  margin-bottom: 35px;
}

.side-list1, .side-list2, .side-list3 {
  text-decoration: none;
  font-size: 18px;
  color: #004F2A;
}

.side-list-select-link {
  text-decoration: none;
  font-size: 18px;
  color: ivory;
}