<div class="another-main-content">
  <%= render partial: "shared/side_bar", locals: { user: @user } %>
  <div class="right-content">
    <div class="book-nickname"><%= @user.nickname %>さんのいいね一覧</div>
    <div class="post-lists">
      <% @likes.each do |like| %>
        <% post = like.post %>
        <%= render partial: "posts/post", locals: {post: post} %>
      <% end %>
    </div>
  </div>
</div>