<div class="side-bar">
  <ul class="side-lists">
    <li class="side-list-nickname"><%= user.nickname %></li>
    <li class="side-list"><%= link_to '読んだ本', books_path %></li>
    <li class="side-list">プロフィール</li>
    <li class="side-list">いいね</li>
  </ul>
</div>