<h1><%= @user.nickname %>さんの読んだ本一覧</h1>
<div class="book-lists">
  <% @books.each do |book| %>
    <div class="book_list">
      <p>タイトル：<%= book.title %></p>
      <p>編著者：<%= book.author %></p>
    </div>
  <% end %>
</div>